# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the license file.

.cache/*
build/*
content/*
**/node_modules/*
public/*
static/*
!.gatsby
!.eslintrc.js
!.huskyrc.js
!.remarkrc.js
