# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the license file.

# Configuration to define attributes per path.
# References:
#   1. https://git-scm.com/docs/gitattributes
#   2. https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#Keyword-Expansion
#   3. https://github.com/AGWA/git-crypt
#   4. https://www.gnupg.org
#   5. https://wiki.archlinux.org/index.php/GnuPG

# Automatically perform line feed (LF) normalization for files detected as text and
# leave all files detected as binary untouched.
* text=auto eol=lf

# +--------+
# + Assets +
# +--------+
*.ai binary
*.png binary

# +------------+
# + Encryption +
# +------------+
.gatsby/.env.development filter=git-crypt diff=git-crypt
.gatsby/.env.production filter=git-crypt diff=git-crypt
.gitattributes !filter !diff
.gitignore !filter !diff
